<% layout('./layouts/layout') %>
<div class="row">
    <h1 class="text-center mb-4">Update Campground</h1>
    <div class="col-4 offset-4">
        <form action="/campgrounds/<%=campground._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
            <div class = "mb-3">
                <label class="form-label fs-6" for="title">Title<sup class="text-danger">*</sup></label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Title is required!
                  </div>
            </div>
            <div class = "mb-3">
                <label class="form-label fs-6" for="location">Location<sup class="text-danger">*</sup></label>
                <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Location is required!
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label fs-6" for="image">Campground Price<sup class="text-danger">*</sup></label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]" value="<%=campground.price %>" required> 
                    <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Price is required!
                  </div>
                </div>
            </div>
            <div class = "mb-3">
                <label class="form-label fs-6" for="image">Image Url<sup class="text-danger">*</sup></label>
                <input class="form-control" type="text" id="image" name="campground[image]" value="<%=campground.image %>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Image url is required!
                  </div>
            </div>
            <div class = "mb-4">
                <label class="form-label fs-6" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"><%=campground.description %></textarea>
                <div class="valid-feedback">
                    Its better to write description!
                </div>
            </div>
            <div class="row justify-content-around mb-4">
                <button class=" col-5 btn btn-success" type="submit">Update Campground</button>
                <a class=" col-5 btn btn-secondary" href="/campgrounds/<%=campground._id %>">Cancel</a>
            </div>
            
        </form>
    </div>
</div>
